/* Fontawesome */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: .625em;
}

body {
  background-color: rgb(23 23 23);
  /* text styles */
  font-family: Raleway, sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.8);
}