@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    background-color: #222222;
    height: 100vh;
    font-size: .625em;
    -webkit-overflow-scrolling: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: Raleway, sans-serif;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0.1rem 0.1rem #000000;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    line-height: 2.6rem;
    display: flex;
    flex-direction: column;
}

main {
    padding: 4rem 3rem 3rem;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    margin: auto;
}

main:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(9,10,12,0.70);
    z-index: -1;
    pointer-events: none;
}

h1 {
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.87);
    font-size: 3.6rem;
    line-height: 5rem;
}

a {
    color: rgba(255, 255, 255, 0.6);
}

a:hover, a:focus {
    color: #8fd6f9;
}

header {
    text-align: center;
}

header strong {
    display: block;
    margin-bottom: 1rem;
}

strong {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: bold;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* LINKS */

.links a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: unset;
}

.link:hover, .link:focus {
    color: #8fd6f9;
    cursor: pointer;
}

.site-links a {
    display: inline-block;
    margin-bottom: 1.4rem;
    margin-right: 13px;
    margin-left: 13px;
}

.social-links a {
    margin-right: 7px;
    margin-left: 7px;
}

.link.youtube:hover, .link.youtube:focus { color: #fa0019; }
.link.instagram:hover, .link.instagram:focus {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.link.twitter:hover, .link.twitter:focus { color: #1da1f2; }
.link.github:hover, .link.github:focus { color: #495057; }
.link.facebook:hover, .link.facebook:focus { color: #2e77ef; }

.imprint {
    margin-top: -10px;
}

.imprint p {
    color: rgba(196, 196, 196, 0.6);
    font-size: 0.9em;
}

.imprint a {
    color: rgba(196, 196, 196, 0.6);
    font-size: 0.9em;
}

.imprint a:hover {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9em;
}

/* CREDITS */

.credits {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 1.2rem;
    line-height: 1;
    z-index: 2;
    color: rgb(108, 108, 108);
}

/* MODALS */

.overlay {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}

.overlay:target {
    visibility: visible;
}

/* Modal */
.modal {
    position: fixed;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    width: 90vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.5s;
}

/* Add Animation */
@keyframes animatetop {
    from {top: 0; opacity: 0}
    to {top: 50%; opacity: 1}
}

/* Modal Header */
.modal-header {
    background-color: rgb(32, 32, 32);
    border-radius: 10px 10px 0 0;
    padding: 2px 16px;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    margin-top: 8px;
    font-size: 28px;
    font-weight: bold;
    text-decoration: unset;
}

.close:hover, .close:focus {
    color: #fa545b;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content */
.modal-content {
    padding: 2px 16px;
    overflow-y: auto;
    height: 88.5%;
    margin-bottom: 0;
}

.modal-content::-webkit-scrollbar {
    width: 10px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #343434;
    border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #313131;
}

.modal-content h1 {
    font-size: 2.8rem;
    margin-bottom: 0;
}

.modal-content h2 {
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.modal-content h3 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.modal-content h4 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.modal-content h5 {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
}

.modal-content p {
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
}

.modal-content form {
    display: inline;
}

/*
.modal-content button {
    border: none;
    border-radius: 3px;
    padding: 14px 28px;
    cursor: pointer;
    background-color: #e7e7e7;
    color: black;
    margin: 10px 4px;
}*/

.modal-content button:hover {
    background: #ddd;
}