@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    background-color: #222222;
    height: 100vh;
    font-size: .625em;
    -webkit-overflow-scrolling: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: Raleway, sans-serif;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0.1rem 0.1rem #000000;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    line-height: 2.6rem;
    display: flex;
    flex-direction: column;
}

main {
    padding: 4rem 3rem 3rem;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    margin: auto;
}

main:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(9,10,12,0.70);
    z-index: -1;
    pointer-events: none;
}

h1 {
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.87);
    font-size: 3.6rem;
    line-height: 5rem;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header strong {
    display: block;
    margin-bottom: 1rem;
}

strong {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: bold;
}

.site-links {
    margin-bottom: 3rem;
}

.site-links a {
    margin-right: 11px;
    margin-left: 11px;
}

.social-links a {
    margin-right: 6px;
    margin-left: 6px;
}

.link:hover {
    color: #8fd6f9;
    cursor: pointer;
}

.links a {
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0.1rem 0.1rem #000000;
    text-decoration: unset;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}