@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    background-color: #222222;
    height: 100vh;
    font-size: .625em;
    -webkit-overflow-scrolling: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: Raleway, sans-serif;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0.1rem 0.1rem #000000;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    line-height: 2.6rem;
    display: flex;
    flex-direction: column;
}

main {
    padding: 4rem 3rem 3rem;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    margin: auto;
}

main:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(9,10,12,0.70);
    z-index: -1;
    pointer-events: none;
}

h1 {
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.87);
    font-size: 3.6rem;
    line-height: 5rem;
}

a {
    color: rgba(255, 255, 255, 0.6);
}

a:hover, a:focus {
    color: #8fd6f9;
}

header {
    text-align: center;
}

header strong {
    display: block;
    margin-bottom: 1rem;
}

strong {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: bold;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* LINKS */

.links a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: unset;
}

.link:hover, .link:focus {
    color: #8fd6f9;
    cursor: pointer;
}

.site-links a {
    display: inline-block;
    margin-bottom: 1.4rem;
    margin-right: 13px;
    margin-left: 13px;
}

.social-links a {
    margin-right: 7px;
    margin-left: 7px;
}

.link.youtube:hover, .link.youtube:focus { color: #fa0019; }
.link.instagram:hover, .link.instagram:focus {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.link.twitter:hover, .link.twitter:focus { color: #1da1f2; }
.link.github:hover, .link.github:focus { color: #495057; }
.link.facebook:hover, .link.facebook:focus { color: #2e77ef; }

.imprint {
    margin-top: -10px;
}

.imprint p {
    color: rgba(196, 196, 196, 0.6);
    font-size: 0.9em;
}

.imprint a {
    color: rgba(196, 196, 196, 0.6);
    font-size: 0.9em;
}

.imprint a:hover {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9em;
}

/* CREDITS */

.credits {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 1.2rem;
    line-height: 1;
    z-index: 2;
    color: rgb(108, 108, 108);
}

/* TOOLTIPS */
/*
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,400,400i,500,500i,700,700i');

/*tipped element. should be inline-block or block*/
.tooltip {
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    font-style: normal;
    transition:all .25s ease-in-out
}

/*the tip*/
/*
.tooltip:before {
    content: attr(tooltiptext);
    font-size: 14px;
    position: absolute;
    background: rgba(255, 255, 255, 0.87);
    color: black;
    line-height: 1.2em;
    padding: 0.5em;
    font-style: normal;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.87);
    min-width: 50px;
    max-width: 220px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
}
.tooltip:after {
    width: 0;
    height: 0;
    border-style: solid;
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out
}
.tooltip:hover:before,
.tooltip:hover:after {
    visibility: visible;
    opacity: 1
}
/*top*/
/*
.tooltip.tooltip-top:before {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 8px));
    box-sizing: border-box;
    border-radius: 3px;
}
.tooltip.tooltip-top:after {
    border-width: 8px 8px 0 8px;
    border-color: rgba(255, 255, 255, 0.87) transparent transparent transparent;
    top: -8.079px;
    left: 50%;
    transform: translate(-50%, 0);
}
/*bottom*/
/*
.tooltip.tooltip-bottom:before {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 8px));
    box-sizing: border-box;
    border-radius: 3px;
}
.tooltip.tooltip-bottom:after {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent rgba(255, 255, 255, 0.87) transparent;
    bottom: -8.079px;
    left: 50%;
    transform: translate(-50%, 0);
}
/*left*/
/*
.tooltip.tooltip-left:before {
    left: 0;
    top: 50%;
    transform: translate(calc(-100% - 8px), -50%);
    box-sizing: border-box;
    border-radius: 3px;
}
.tooltip.tooltip-left:after {
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.87);
    left: -8.079px;
    top: 50%;
    transform: translate(0, -50%);
}
/*right*/
/*
.tooltip.tooltip-right:before {
    right: 0;
    top: 50%;
    transform: translate(calc(100% + 8px), -50%);
    box-sizing: border-box;
    border-radius: 3px;
}
.tooltip.tooltip-right:after {
    border-width: 8px 8px 8px 0;
    border-color: transparent rgba(255, 255, 255, 0.87) transparent transparent;
    right: -8.079px;
    top: 50%;
    transform: translate(0, -50%);
}

/* MODALS */

/* The modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal:target {
    display: block;
}

/* Modal Content/Box */
.modal-content {
    position: absolute;
    background-color: rgb(39, 39, 39);
    margin: 5%;
    border-radius: 10px;
    width: 90%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.5s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Modal Header */
.modal-header {
    background-color: rgb(32, 32, 32);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2px 16px;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    margin-top: 8px;
    font-size: 28px;
    font-weight: bold;
    text-decoration: unset;
}

.close:hover, .close:focus {
    color: #fa545b;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    overflow-y: auto;
    height: 87%;
    margin-bottom: 0;
}

.modal-body::-webkit-scrollbar {
    width: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
    background: #343434;
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background: #313131;
}

.modal-body h1 {
    font-size: 2.8rem;
    margin-bottom: 0;
}

.modal-body h2 {
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.modal-body h3 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.modal-body h4 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.modal-body h5 {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
}

.modal-body p {
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
}