@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    background-color: #222222;
    font-size: .625em;
    scroll-behavior: smooth;
}

body {
    background-color: inherit;
    margin: 0;
    padding: 0;
    /* text styles */
    font-family: Raleway, sans-serif;
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.8);
}

/* HEADER */
#hero {
    /* sizing */
    height: 100vh;
    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    /* properties */
    box-sizing: border-box;
    padding: 4rem 3rem 3rem;
    position: relative;
    /* text styles */
    text-align: center;
}

#hero .hero-inner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(9,10,12,0.70);
    z-index: -1;
    pointer-events: none;
}

#hero .hero-inner {
    z-index: 0;
}

/* Video */
#hero video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    top: 0;
}

/* Branding */
#hero .logo {
    width: 17rem;
    transition: transform .4s;
}

#hero .logo:hover {
    -ms-transform: scale(1.075);
    transform: scale(1.075);
}

#hero h1 {
    color: rgba(255, 255, 255, 0.87);
    margin: 2rem 0 0 0;
    font-size: 3.6rem;
    line-height: 5rem;
    font-weight: bold;
}

/* Navbar */
#hero .nav {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: calc(100% + 1rem);
    display: flex;
    flex-direction: row;
}

#hero .nav .btn {
    /* position */
    display: block;
    margin: 1rem .5rem 0;
    flex-grow: 1;
    transform: translate(-.5rem);
    padding: .5rem 1rem;
    /* design */
    font-size: 1.9rem;
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(84, 84, 84, 0.2);
}

#hero .btn sup {
    vertical-align: baseline;
    font-size: 1rem;
}

/* Small Description */
#hero p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#hero strong {
    display: block;
    margin-bottom: 1rem;
}

/* IP Copy */
#hero .ip-copy {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#hero .ip-copy .btn {
    /* position */
    padding: 1rem 1rem;
    /* design */
    font-size: 1.9rem;
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(84, 84, 84, 0.2);
}

#hero .btn:hover {
    color: rgba(52, 180, 244, 0.9);
    border-color: rgba(52, 180, 244, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
}

/* Social Links */
#hero .social-links a {
    margin: 0 0.8rem 0;
    /* text styles */
    text-decoration: unset;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.4rem;
}

#hero .social-links a:hover {
    color: rgba(52, 180, 244, 0.9);
}

/* Scroll Indicator */
#hero .scroll-indicator {
    position: absolute;
    bottom: 1rem;
}





.imprint {
    margin-top: -10px;
}

.imprint p {
    color: rgba(196, 196, 196, 0.6);
    font-size: 0.9em;
}

.imprint a {
    color: rgba(196, 196, 196, 0.6);
    font-size: 0.9em;
}

.imprint a:hover {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9em;
}

/* CREDITS */

.credits {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    font-size: 1.2rem;
    line-height: 1;
    z-index: 2;
    color: rgb(108, 108, 108);
}

/* MODALS */

.overlay {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}

.overlay:target {
    visibility: visible;
}

/* Modal */
.modal {
    position: fixed;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    width: 90vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.5s;
}

/* Add Animation */
@keyframes animatetop {
    from {top: 0; opacity: 0}
    to {top: 50%; opacity: 1}
}

/* Modal Header */
.modal-header {
    background-color: rgb(32, 32, 32);
    border-radius: 10px 10px 0 0;
    padding: 2px 16px;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    margin-top: 8px;
    font-size: 28px;
    font-weight: bold;
    text-decoration: unset;
}

.close:hover, .close:focus {
    color: #fa545b;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content */
.modal-content {
    padding: 2px 16px;
    overflow-y: auto;
    height: 88.5%;
    margin-bottom: 0;
}

.modal-content::-webkit-scrollbar {
    width: 10px;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #343434;
    border-radius: 10px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #313131;
}

/*
.modal-content h1 {
    font-size: 2.8rem;
    margin-bottom: 0;
}

.modal-content h2 {
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.modal-content h3 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.modal-content h4 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.modal-content h5 {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
}

.modal-content p {
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
}

.modal-content form {
    display: inline;
}

.modal-content button {
    border: none;
    border-radius: 3px;
    padding: 14px 28px;
    cursor: pointer;
    background-color: #e7e7e7;
    color: black;
    margin: 10px 4px;
}

.modal-content button:hover {
    background: #ddd;
}*/